@import '../../components/shared/variables.css';

.intro {
  background-color: var(--color-dark-blue);
  text-align: center;
}

.section-container {
  composes: section-container from '../../components/shared/section.css';
}

.intro-header {
  color: white;
  margin-top: 45px;
  margin-bottom: 0;
}

.intro-image {
  margin-bottom: -10px;
}

.normal-affiliate-button {
  composes: normal from '../../components/shared/button.css';
  background-color: var(--color-sky-blue);
}

.normal-advertiser-button {
  composes: normal from '../../components/shared/button.css';
  background-color: var(--color-light-green);
}

.description {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
  margin-top: -10px;
}

.description-header {
  color: black;
}

.icon {
  background: url('./images/42_inline.png') no-repeat;
  background-size: contain;
  width: 126px;
  height: 81px;
  margin: 0 auto;
}

.description-body {
  max-width: 600px;
  margin: 0 auto;
  padding: 25px 25px 80px 25px;
}

@media (max-width: 600px) {
  .description-body {
    padding: 25px 0 0 0;
  }
}


.diagram-bg {
  padding: 40px 30px;
  background-image: url('./images/section_bg.jpg');
  background-size: cover;
}

.diagram {
  height: 125px;
  background-image: url('./images/42_diagram.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.be-a-partner {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-content-container {
  composes: flex-content-container from '../../components/shared/section.css';
}

.partner-container {
  composes: flex-box from '../../components/shared/section.css';
  color: white;
  text-align: center;
  font-weight: lighter;
}

.partner-header {
  font-weight: lighter;
}

.partner-description {
  margin: auto;
  max-width: 350px;
}

.affiliates {
  composes: partner-container;
  order: 1;
}

.affiliate-button {
  composes: large from '../../components/shared/button.css';
  background-color: var(--color-sky-blue);
  margin-top: 20px;
}

.advertisers {
  composes: partner-container;
  order: 2;
}

.advertiser-button {
  composes: large from '../../components/shared/button.css';
  background-color: var(--color-light-green);
  margin-top: 20px;
}

.slogan {
  composes: slogan from '../../components/shared/section.css';
  background-color: var(--color-dark-blue);
}

.slogan-description {
  composes: slogan-description from '../../components/shared/section.css';
}

.partners {
  color: var(--color-dark-blue);
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
