@import '../../components/shared/variables.css';

.intro {
  background-color: var(--color-dark-blue);
  text-align: center;
  overflow: hidden;
}

.section-container {
  composes: section-container from '../../components/shared/section.css';
}

.intro-header {
  color: white;
  margin-top: 45px;
  margin-bottom: 0;
}

.intro-image {
  margin-bottom: -10px;
}

.normal-affiliate-button {
  composes: normal from '../../components/shared/button.css';
  background-color: var(--color-sky-blue);
}

.normal-advertiser-button {
  composes: normal from '../../components/shared/button.css';
  background-color: var(--color-light-green);
}

.description {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
  margin-top: -10px;
}

.description-header {
  color: black;
}

.icon {
  background: url('./images/42_inline.png') no-repeat;
  background-size: contain;
  width: 126px;
  height: 81px;
  margin: 0 auto;
}

.description-body {
  max-width: 600px;
  margin: 0 auto;
  padding: 25px 25px 50px 25px;
}

.diagram-bg {
  padding: 40px 30px;
  background-image: url('./images/section_bg.jpg');
  background-size: cover;
}

.diagram {
  height: 125px;
  background-image: url('./images/42_diagram.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.be-a-partner {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-content-container {
  composes: flex-content-container from '../../components/shared/section.css';
}

.partner-container {
  composes: flex-box from '../../components/shared/section.css';
  color: white;
  text-align: center;
  font-weight: lighter;
}

.partner-header {
  font-weight: lighter;
}

.partner-description {
  margin: auto;
  max-width: 350px;
}

.affiliates {
  composes: partner-container;
  order: 1;
}

.affiliate-button {
  composes: large from '../../components/shared/button.css';
  background-color: var(--color-sky-blue);
  margin-top: 20px;
}

.advertisers {
  composes: partner-container;
  order: 2;
}

.advertiser-button {
  composes: large from '../../components/shared/button.css';
  background-color: var(--color-light-green);
  margin-top: 20px;
}

.slogan {
  composes: slogan from '../../components/shared/section.css';
  background-color: var(--color-dark-blue);
}

.slogan-description {
  composes: slogan-description from '../../components/shared/section.css';
}

.partner-section-container {
  composes: section-container from '../../components/shared/section.css';
  max-width: 800px;
}

.partners-header {
  margin: 25px 0;
}

.partners {
  color: var(--color-dark-blue);
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.partner-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.advertise-partner-container {
  width: 25%;
}

.ic {
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 10px;
}

.ic-dogether {
  composes: ic;
  background-image: url('./images/ad_1_dogether.png');
}

.ic-myntra {
  composes: ic;
  background-image: url('./images/ad_2_myntra.png');
}

.ic-flipkart {
  composes: ic;
  background-image: url('./images/ad_3_flipkart.png');
}

.ic-orahi{
  composes: ic;
  background-image: url('./images/ad_4_orahi.png');
}

.ic-uc {
  composes: ic;
  background-image: url('./images/ad_5_uc.png');
}

.ic-abof {
  composes: ic;
  background-image: url('./images/ad_6_abof.png');
}

.ic-buyhatke {
  composes: ic;
  background-image: url('./images/ad_7_buyhatke.png');
}

.ic-panelstation {
  composes: ic;
  background-image: url('./images/ad_8_panelstation.png');
}

.publisher-partner-container {
  width: 33.3%;
}

.ic-mobtray {
  composes: ic;
  background-image: url('./images/pb_1_mobtray.png');
}

.ic-adscooper {
  composes: ic;
  background-image: url('./images/pb_2_adscooper.png');
}

.ic-khing {
  composes: ic;
  background-image: url('./images/pb_3_khing.png');
}

.ic-adcanopus {
  composes: ic;
  background-image: url('./images/pb_4_adcanopus.png');
}

.ic-adsizzler {
  composes: ic;
  background-image: url('./images/pb_5_adsizzler.png');
}

.ic-appsdiscover {
  composes: ic;
  background-image: url('./images/pb_6_appsdiscover.png');
}

@media (max-width: 600px) {
  .description-body {
    padding: 25px 0 0 0;
  }

  .publisher-partner-container {
    width: 50%;
  }

  .advertise-partner-container {
    width: 50%;
  }
}
