.button {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: #fff;
  border: 0 none;
  border-radius: 4px;

  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  appearance: none;

  justify-content: center;
  align-items: center;
}

.button:hover {
  transition: all 60ms ease;

  opacity: .85;
}

.button:active {
  transition: all 60ms ease;
  opacity: .75;
}

.normal {
  composes: button;
  font-size: 16px;
  padding: 10px 26px;
}

.large {
  composes: button;
  font-size: 19px;
  padding: 20px 30px;
}
