@import './variables.css';

.section-container {
  composes: section-container from './section.css';
}

.flex-box {
  composes: flex-box from './section.css';
}

.flex-content-container {
  composes: flex-content-container from './section.css';
}

.banner {
  composes: banner from './section.css';
}

.banner .section-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.banner-image {
  width: 138px;
  height: 138px;
  background-size: contain;
  order: 1;
  margin-right: 20px;
}

.banner-description {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  order: 2;
}

.banner-description-head {
  margin-bottom: 5px;
}

.banner-description-body {
  color: var(--color-grey);
  margin-top: 0;
}

.contact {
  composes: contact from './section.css';
}

.contact-ic {
  width: 45px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

.description-wrapper {
  padding-left: 55px;
}

.divider {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(200, 200, 200, 0.5);
}

.ic-mobile {
  composes: contact-ic;
}

.ic-provider {
  composes: contact-ic;
}

.contact .section-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-description-content-container {
  composes: flex-content-container from './section.css';
  padding-left: 0;
}

.description-body {
  padding-right: 75px;
  font-size: 12px;
}

@media (max-width: 600px) {
  .description-body {
    padding-right: 0;
  }
}

label {
  font-size: 12px;
}

input[type=text] {
  width: 100%;
  background-color: #eee;
  border-radius: 3px;
  border-style: solid;
  border-color: #ddd;
  height: 30px;
  margin: 10px 0;
}

.submit {
  composes: normal from './button.css';
  margin: 10px 0 0 0;
  float: right;
}

.benefits {
  composes: benefits from './section.css';
  text-align: center;
}

.benefits .section-container {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.ic {
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.benefits-header {
  color: white;
  font-weight: bold;
}

.benefits-description {
  color: white;
  font-size: 12px;
}

.slogan {
  composes: slogan from './section.css';
}

.slogan-description {
  composes: slogan-description from './section.css';
}
