@import './variables.css';

.banner {
  width: 100%;
  background-color: #eee;
}

.section-container {
  padding: 35px;
  max-width: 800px;
  margin: 0 auto;
}

.flex-box {
  width: 50%;
}

@media (max-width: 600px) {
  .flex-box {
    width: 100%;
  }
}

.flex-content-container {
  padding: 0 25px;
}

.slogan {
  text-align: center;
  color: white;
}

.slogan-description {
  font-size: 19px;
}

.banner-section-container {
  composes: section-container;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 45px;
}

.banner-image {
  width: 138px;
  height: 138px;
  background-size: contain;
  order: 1;
}

@media (max-width: 750px) {
  .banner-image {
    margin: 0 auto;
  }
}

.banner-description {
  width: calc(100% - 138px);
  display: inline-block;
  vertical-align: middle;
  order: 2;
}

.banner-description-head {
  padding-left: 40px;
  margin-bottom: 5px;
  font-size: 30px;
}

.banner-description-body {
  padding-left: 40px;
  margin-top: 0;
  color: var(--color-grey);
}

@media (max-width: 750px) {
  .banner-description {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .banner-description-head, .banner-description-body {
    padding-left: 0;
  }
}

.contact-ic {
  width: 45px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}

.description-wrapper {
  padding-left: 55px;
}

.divider {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(200, 200, 200, 0.5);
}

.contact .section-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-description-content-container {
  composes: flex-content-container;
  padding-left: 0;
}

.description-body {
  padding-right: 75px;
  font-size: 15px;
  color: var(--color-grey);
}

@media (max-width: 600px) {
  .description-body {
    padding-right: 0;
  }
}

.submit {
  composes: normal from './button.css';
  margin: 10px 0 0 0;
  float: right;
}

.benefits {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 55px;
}

.benefits-section-container {
  composes: section-container;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.ic {
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.benefits-header {
  color: white;
  font-weight: bold;
}

.benefits-description {
  color: white;
  font-size: 15px;
}
