.banner {
  width: 100%;
  background-color: #eee;
}

.section-container {
  padding: 35px;
  max-width: 960px;
  margin: 0 auto;
}

.flex-box {
  width: 50%;
}

@media (max-width: 600px) {
  .flex-box {
    width: 100%;
  }
}

.flex-content-container {
  padding: 0 25px;
}

.contact {
}

.benefits {

}

.slogan {
  text-align: center;
  color: white;
}

.slogan-description {
  font-size: 18px;
}
