.root {
  float: right;
}

.link {
  text-decoration: none;
  display: inline-block;
  padding: 3px 8px;
  color: #fff;
  font-size: 15px;
  margin-right: 25px;
  border-bottom: 1px solid rgba(255,255,255,0);
}

.link:hover {
  border-color: rgba(255,255,255,0.7);
  transition: border-color 500ms ease-in;
}

.active:hover {
  border-color: rgba(255,255,255,1);
  transition: border-color 500ms ease-in;
}

.active {
  border-color: rgba(255,255,255,1);
  transition: border-color 500ms ease-in;
}

.link:last-of-type {
  margin-right: 50px;
}

@media (max-width: 600px) {
  .link {
    margin-right: 0px;
  }

  .link:last-of-type {
    margin-right: 5px;
  }
}
