.root {
  float: right;
}

.link {
  text-decoration: none;
  display: inline-block;
  padding: 3px 8px;
  color: #fff;
  font-size: 14px;
  margin-right: 25px;
}

.link:last-of-type {
  margin-right: 50px;
}

@media (max-width: 600px) {
  .link {
    margin-right: 0px;
  }

  .link:last-of-type {
    margin-right: 0px;
  }
}
