@import '../shared/variables.css';

.root {
  padding: 15px;
  display: block;
  background-color: var(--color-sky-blue);
  position: fixed;
  width: 100%;
}

.logo-image {
  width: 140px;
  height: 25px;
  background-image: url('./logo_42network.png');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 400px) {
  .logo-image {
    background-image: url('./42_logo_m.png');
  }
}

.logo {
  display: block;
  width: 140px;
  height: 25px;
}
