@import '../../components/shared/variables.css';

.section-container {
  composes: section-container from '../../components/shared/section.css';
}

.flex-box {
  composes: flex-box from '../../components/shared/section.css';
}

.flex-content-container {
  composes: flex-content-container from '../../components/shared/section.css';
}

.banner {
  composes: banner from '../../components/shared/section.css';
}

.banner-section-container {
  composes: banner-section-container from '../../components/shared/section.css';
}

.banner-image {
  composes: banner-image from '../../components/shared/section.css';
  background-image: url('./images/ad_header.png');
}

.banner-description {
  composes: banner-description from '../../components/shared/section.css';
}

.banner-description-head {
  composes: banner-description-head from '../../components/shared/section.css';
  color: var(--color-sky-blue);
}

.banner-description-body {
  composes: banner-description-body from '../../components/shared/section.css';
}

.contact {
  composes: contact from '../../components/shared/section.css';
}

.contact-header {
  composes: contact-header from '../../components/shared/section.css';
  color: var(--color-sky-blue);
}

.description-wrapper {
  composes: description-wrapper from '../../components/shared/section.css';
}

.divider {
  composes: divider from '../../components/shared/section.css';
}

.ic-mobile {
  composes: contact-ic from '../../components/shared/section.css';
  background-image: url('./images/ad_icon_mobileapps.png');
}

.ic-provider {
  composes: contact-ic from '../../components/shared/section.css';
  background-image: url('./images/ad_icon_provider.png');
}

.contact {
  composes: contact from '../../components/shared/section.css';
}

.flex-description-content-container {
  composes: flex-description-content-container from '../../components/shared/section.css';
}

.description-body {
  composes: description-body from '../../components/shared/section.css';
}

.benefits {
  composes: benefits from '../../components/shared/section.css';
  background-color: var(--color-light-green);
}

.ic-quality {
  composes: ic from '../../components/shared/section.css';
  background-image: url('./images/ad_img_1.png');
}

.ic-technology {
  composes: ic from '../../components/shared/section.css';
  background-image: url('./images/ad_img_2.png');
}

.ic-quantity {
  composes: ic from '../../components/shared/section.css';
  margin-top: 20px;
  background-image: url('./images/ad_img_3.png');
}

.ic-support {
  composes: ic from '../../components/shared/section.css';
  margin-top: 20px;
  background-image: url('./images/ad_img_4.png');
}

.benefits-section-container {
  composes: benefits-section-container from '../../components/shared/section.css';
}

.benefits-header {
  composes: benefits-header from '../../components/shared/section.css';
}

.benefits-description {
  composes: benefits-description from '../../components/shared/section.css';
}

.slogan {
  composes: slogan from '../../components/shared/section.css';
  background-color: var(--color-sky-blue);
}

.slogan-description {
  composes: slogan-description from '../../components/shared/section.css';
}
